mixin image(path, className, alt)
  img(src=require(`./../../assets/img/${path}`) class=className alt=alt)

mixin icon(name, className)
  - var icon = require(`./../../assets/img/icons/${name}.svg`);
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=icon.url)